<!DOCTYPE html>
<html>
<head>
    <title>saveData</title>
</head>
<body>
    <p>Данные загружаемые в файла</p>
    <p>First name: {{ data.first_name }}</p>
    <p>Last name:{{ data.last_name }}</p>
    <p>Email: {{ data.email }}</p>
    <p>Age: {{ data.age }}</p>
</body>
</html>